#! /usr/bin/env zsh

{{ template "printers.zsh" }}
{{ template "prompt_sudo.zsh" }}

_print_running_script "$0"

set -euo pipefail

## config.toml: {{ include "private_dot_config/mise/config.toml" | sha256sum }}

if (( $+commands[mise] )); then
  # local version_info=$(mise version --check --json)
  local version_info=$(mise version --json)
  local current=$(echo "$version_info" | jq -r '.version' | awk '{print $1}')
  local latest=$(echo "$version_info" | jq -r '.latest')

  if [ "$current" != "$latest" ]; then
    echo
    _print_updating "mise"
    sudo mise self-update
  fi
else
  echo
  _print_installing "mise"
  _prompt_sudo
  curl https://mise.run | sudo MISE_INSTALL_PATH=/usr/local/bin/mise sh
fi

mise --version
echo

# echo
# _print_running "mise trust"
# mise trust "$HOME/.config"

cd $HOME

echo
_print_prog mise "install"
mise install --verbose

# echo
# _print_prog mise "prune"
# mise prune --yes

cd -

echo
_print_ok
