#! /usr/bin/env zsh

{{ template "_printers.zsh" }}
{{ template "_prompt.zsh" }}
{{ template "keep_in_dock.zsh" }}

_print_running_script "$0"

echo -e "\n${FG_YELLOW}[running script]${RESET} $0\n"

set -euo pipefail

{{ template "rvm_implode.zsh" }}

# Copy .zsh_history to ~/.local/share/zsh
XDG_DATA_HOME="{{ .chezmoi.homeDir }}/.local/share"
[[ -d "$XDG_DATA_HOME" ]] || mkdir -p "$XDG_DATA_HOME"
if [[ -f "{{ .chezmoi.homeDir }}/.zsh_history" && ! -f "$XDG_DATA_HOME/zsh/zsh_history" ]]; then
  echo
  _print_running "cp ~/.zsh_history to ~/.local/share/zsh/history"
  cp "{{ .chezmoi.homeDir }}/.zsh_history" "$XDG_DATA_HOME/zsh_history"
fi

# Kitty
echo
_print_installing "kitty"
curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin launch=n

{{ if eq .chezmoi.os "darwin" }}
  # Keep kitty in dock
  keep_in_dock "kitty"
  killall Dock &> /dev/null
{{ end }}

echo
_print_ok
