#! /usr/bin/env zsh

{{ template "printers.zsh" }}

_print_running_script "$0"

echo -e "\n${FG_YELLOW}[running script]${RESET} $0\n"

set -euo pipefail

# Kitty
_print_installing "kitty"
curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin launch=n

echo
_print_ok
