#! /usr/bin/env zsh

echo "\nSCRIPT: $0\n"

set -euo pipefail

{{ $homebrew_prefix := "" -}}

{{ if eq .chezmoi.os "linux" }}

  # Starship
  apk add --no-cache starship

  # Zoxide
  curl -sS https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | bash

{{ else if eq .chezmoi.os "darwin" }}

  # Homebrew
  {{- if eq .chezmoi.arch "x86_64" -}}
  {{-   $homebrew_prefix = "/usr/local" -}}
  {{- else -}}
  {{-   $homebrew_prefix = "/opt/homebrew" -}}
  {{- end }}

  if [ ! -x "{{ $homebrew_prefix }}/bin/brew" ]; then
    echo "Installing homebrew..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  else
    echo "Found homebrew"
  fi

  # fix ruby linking issue for osx system ruby
  if [ -L /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk ]; then
    if [ ! -L /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/Users ]; then
      sudo -p "OSX password for %p:" ln -s /Users /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/Users
    fi
  fi

{{ end }}

# Kitty
echo "Installing kitty..."
curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin
