#! /usr/bin/env zsh

{{ template "load_zfunctions.zsh" }}
_printers
_print_running_script "$0"

set +euo pipefail

## Brewfile: {{ include "Brewfile.tmpl" | sha256sum }}
{{- $homebrew_prefix := "" -}}

{{ if eq .chezmoi.os "linux" }}
  {{- $homebrew_prefix = "/home/linuxbrew/.linuxbrew" -}}
{{ else if eq .chezmoi.os "darwin" }}
  {{- if eq .chezmoi.arch "x86_64" -}}
  {{-   $homebrew_prefix = "/usr/local" -}}
  {{- else -}}
  {{-   $homebrew_prefix = "/opt/homebrew" -}}
  {{- end }}
{{ end }}

if [ ! -x "{{ $homebrew_prefix }}/bin/brew" ]; then
  _print_installing "homebrew"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
  _print_exists "homebrew"
fi

if ! command -v brew &> /dev/null; then
  eval "$({{ $homebrew_prefix }}/bin/brew shellenv)"
fi

echo
_print_lib homebrew "updating..."
brew update

echo
_print_lib homebrew "bundling..."
brew bundle --file="$HOME/Brewfile"

echo
_print_lib homebrew "removing unused dependencies..."
brew autoremove

