#! /usr/bin/env zsh

{{ template "printers.zsh" }}
{{ template "prompt_sudo.zsh" }}
{{ template "keep_in_dock.zsh" }}

_print_running_script "$0"

set +euo pipefail

## Brewfile: {{ include "Brewfile.tmpl" | sha256sum }}

if [ ! -x "{{ .homebrew_prefix }}/bin/brew" ]; then
  _print_installing "homebrew"
  _prompt_sudo
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
  _print_exists "homebrew"
fi

if [ ! -x "{{ .homebrew_prefix }}/bin/brew" ]; then
  _print_error "homebrew not installed"
  exit 1
fi

if ! command -v brew &> /dev/null; then
  eval "$({{ .homebrew_prefix }}/bin/brew shellenv)"
fi

echo
_print_prog brew "update"
brew update

# Remove old fonts
brew uninstall -f --zap font-meslo-lgs-nf font-monaco-for-powerline

# Remove non-homebrew vscode
if [ -d "/Applications/Visual Studio Code.app" ]; then
  if ! brew ls --cask visual-studio-code --versions &> /dev/null; then
    echo
    _print_info "Removing non-homebrew vscode app"
    osascript -e 'quit app "Visual Studio Code"'
    _prompt_sudo
    sudo rm -rf "/Applications/Visual Studio Code.app"
    if [ $? -ne 0 ]; then
      _print_error "Could not remove 'Visual Studio Code' app."
      _print_info "Try removing manually or run this script again."
      echo
      exit 1
    fi
  fi
fi

if [ -L "/usr/local/bin/code" ]; then
  echo
  _print_info "Removing non-homebrew VSCode symlink"
  _prompt_sudo
  sudo rm -f "/usr/local/bin/code"
fi

echo
_print_prog brew "bundle"
brew bundle --file="$HOME/Brewfile"

echo
_print_prog brew "removing unused dependencies..."
brew autoremove
# brew bundle cleanup --global --force

echo
keep_in_dock "Figma"
keep_in_dock "Postman"
keep_in_dock "Visual Studio Code"
keep_in_dock "Zed"
killall Dock &> /dev/null

echo
_print_ok
