#! /usr/bin/env zsh

echo "SCRIPT: $0"

# set -euo pipefail

## Brewfile: {{ include "Brewfile.tmpl" | sha256sum }}
{{- $homebrew_prefix := "" -}}

{{ if eq .chezmoi.os "linux" }}

{{ else if eq .chezmoi.os "darwin" }}

  # Homebrew packages
  {{- if eq .chezmoi.arch "x86_64" -}}
  {{-   $homebrew_prefix = "/usr/local" -}}
  {{- else -}}
  {{-   $homebrew_prefix = "/opt/homebrew" -}}
  {{- end }}
  if ! command -v brew &> /dev/null; then
    eval "$({{ $homebrew_prefix }}/bin/brew shellenv)"
  fi

  brew update

  brew bundle --file="$HOME/Brewfile"

  # Remove unused dependencies
  # brew autoremove

{{ end }}

echo "brew installs complete"
