#! /usr/bin/env zsh

echo "\nSCRIPT: $0\n"

set -eo pipefail


if [ -x /usr/local/bin/pkgx ]; then
  echo "Updating pkgx..."
  sudo -p "Password for %p:" rm /usr/local/bin/pkgx
else
  echo "Installing pkgx..."
fi
curl -fsS https://pkgx.sh | sh

source <(pkgx --shellcode)

# pkgx installs
[ ! -x "$HOME/.local/bin/java" ] && pkgx install openjdk.org@latest
[ ! -x "$HOME/.local/bin/go" ] && pkgx install go.dev@latest
[ ! -x "$HOME/.local/bin/node" ] && pkgx install nodejs.org@latest
[ ! -x "$HOME/.local/bin/npm" ] && pkgx install npmjs.com@latest
# [ ! -x "$HOME/.local/bin/ruby" ] && pkgx install ruby-lang.org@latest

# if [ ! -x "$HOME/.local/bin/gem" ]; then
#   pkgx install rubygems.org@latest
#   $HOME/.local/bin/gem install bundler
# fi

# fix pkgx ruby linking issue
if [ ! -L /opt/ruby-lang.org ]; then
  sudo -p "Password for %p:" ln -s "$HOME/.pkgx/ruby-lang.org" /opt/ruby-lang.org
fi
