#! /usr/bin/env zsh

echo "SCRIPT: $0"

# set -euo pipefail

## Gemfile: {{ include "Gemfile.tmpl" | sha256sum }}
## Brewfile: {{ include "Brewfile.tmpl" | sha256sum }}
{{- $homebrew_prefix := "" -}}

{{ if eq .chezmoi.os "linux" }}

{{ else if eq .chezmoi.os "darwin" }}

  # Homebrew packages
  {{- if eq .chezmoi.arch "x86_64" -}}
  {{-   $homebrew_prefix = "/usr/local" -}}
  {{- else -}}
  {{-   $homebrew_prefix = "/opt/homebrew" -}}
  {{- end }}
  if ! command -v brew &> /dev/null; then
    eval "$({{ $homebrew_prefix }}/bin/brew shellenv)"
  fi

  brew update

  # Some cleanup
  brew uninstall --cask --force --zap blueutil colima dagger fontforge skhd yabai mpc mpd ncmpcpp sketchybar disk-inventory-x istat-menus karabiner-elements lunar mpv notunes

  brew bundle --file="$HOME/Brewfile"

{{ end }}

# Gems
if [ -x "$HOME/.local/bin/bundle" ]; then
  $HOME/.local/bin/bundle install --gemfile="$HOME/Gemfile"
fi
