#! /usr/bin/env zsh

echo "\nSCRIPT: $0\n"

# set -euo pipefail

## .tool-versions: {{ include "dot_tool-versions" | sha256sum }}

if [ -f "$HOME/.tool-versions" ]; then
  if [ -f "$HOMEBREW_PREFIX/opt/asdf/libexec/asdf.sh" ]; then
    source $HOMEBREW_PREFIX/opt/asdf/libexec/asdf.sh

    {{ template "asdf_install.sh" dict "dir" "$HOME" }}
  fi
fi
