#! /usr/bin/env zsh

{{ template "printers.zsh" }}
{{ template "prompt.zsh" }}

set -euo pipefail

echo
_print_info "Chezmoi completed successfully!"
_print_info "Don't forget to open a new terminal to load your settings."

if [[ "$TERM" != xterm-kitty ]]; then
  if [[ -x "{{ .chezmoi.homeDir }}/bin/kitty" ]]; then
    echo
    _print_prog kitty "You now have kitty terminal installed and optimized to"
    _print_prog kitty "work with your new settings and fonts."
    echo
    {{ template "prompt_kitty.zsh" . }}
  fi
fi

echo
_print_ok "Goodbye👋🏻"
