#! /usr/bin/env zsh

{{ template "_printers.zsh" }}
{{ template "_prompt_sudo.zsh" }}

_print_running_script "$0"

set +euo pipefail

_print_info "Now we need to install some PKGX packages"
_prompt_sudo

echo
if [ -x /usr/local/bin/pkgx ]; then
  _print_updating "pkgx"
else
  _print_installing "pkgx"
fi

curl -fsS https://pkgx.sh | sh
pkgx --sync

echo
_print_info "using $(pkgx --version)"

# pkgm installs
# echo
# _print_prog pkgm "installing gnu.org/make"
# sudo pkgm install gnu.org/make

echo
_print_ok "📦 Success!"
