#! /usr/bin/env zsh

printf "\nSCRIPT: $0"

# set -euo pipefail

## Gemfile: {{ include "Gemfile.tmpl" | sha256sum }}

# Install default gems
asdf exec bundle -v &> /dev/null
if [ $? -eq 0 ]; then
  asdf exec bundle install --gemfile="$HOME/Gemfile"
fi
