#! /usr/bin/env zsh

{{ template "printers.zsh" }}

_print_running_script "$0"

set +euo pipefail

## .tool-versions: {{ include "dot_tool-versions" | sha256sum }}

if ! command -v brew &> /dev/null; then
  eval "$({{ .homebrew_prefix }}/bin/brew shellenv)"
fi

if [ -f "{{ .homebrew_prefix }}/opt/asdf/libexec/asdf.sh" ]; then
  source "{{ .homebrew_prefix }}/opt/asdf/libexec/asdf.sh"
else
  _print_error "asdf not found"
  exit 1
fi

if [ -f "$HOME/.tool-versions" ]; then
  {{ template "asdf_install.zsh" dict "dir" "$HOME" }}
fi
