tap "homebrew/cask"
tap "dagger/tap"
tap "FelixKratz/formulae"
tap "goreleaser/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "homebrew/services"
tap "koekeishiya/formulae"
tap "sporkd/fonts", "https://gitlab.com/sporkd/homebrew-fonts.git"

brew "awscli"
brew "blueutil"
brew "codespell"
brew "colima"
brew "coreutils"
brew "dagger/tap/dagger"
brew "docker"
brew "fish" # having trouble setting tea version to default
brew "fontforge"
brew "koekeishiya/formulae/skhd"
brew "koekeishiya/formulae/yabai"
brew "markdownlint-cli"
# brew "mpc"
# brew "mpd"
# brew "ncmpcpp"
brew "ranger"
brew "ruby" # tea version not playing well with editors?
brew "sketchybar"
brew "starship"
brew "tree-sitter"
brew "z"
brew "zsh-autosuggestions"
brew "zsh-history-substring-search"
brew "zsh-syntax-highlighting"

# cask "android-ndk"
# cask "android-studio"
# cask "docker"
cask "discord"
cask "disk-inventory-x"
# cask "figma"
# cask "firefox"
# cask "flutter"
cask "font-cascadia-code"
# cask "font-fira-code"
# cask "font-fira-mono-for-powerline"
# cask "font-lato"
# cask "font-menlo-for-powerline"
cask "font-meslo-lgs-nf"
cask "font-monaco-for-powerline"
# cask "font-roboto"
cask "font-hack-nerd-font"
cask "font-symbols-only-nerd-font"
# cask "google-chrome"
cask "istat-menus"
# cask "iterm2"
cask "karabiner-elements"
cask "kdiff3"
# cask "kitematic"
# cask "kitty"
cask "lunar"
cask "mpv"
cask "notunes"
# cask "postman"
cask "rocket"
cask "visual-studio-code"
# cask "xquartz"

# giphy : https://tenor.com/mac
# cleanshot: https://cleanshot.com/
