tap "homebrew/bundle"
# tap "homebrew/cask"
tap "homebrew/cask-fonts"
# tap "homebrew/core"
tap "homebrew/services"
tap "sporkd/fonts", "https://gitlab.com/sporkd/homebrew-fonts.git"

brew "asdf"  # until pkgx provides more stuff
brew "awscli"
brew "coreutils"
brew "docker"
brew "fish"
# brew "fontforge"
brew "graphicsmagick"
brew "lsd"
# brew "markdownlint-cli"
brew "neovim"
brew "ranger"
brew "redis"
brew "starship"
brew "tree-sitter"
brew "z"
brew "zoxide"
brew "zsh-autosuggestions"
brew "zsh-history-substring-search"
brew "zsh-syntax-highlighting"

# cask "docker"
# cask "discord"
# cask "figma"
# cask "firefox"
cask "font-cascadia-code"
# cask "font-fira-code"
# cask "font-fira-mono-for-powerline"
# cask "font-lato"
# cask "font-menlo-for-powerline"
cask "font-meslo-lgs-nf"
cask "font-monaco-for-powerline"
# cask "font-roboto"
cask "font-hack-nerd-font"
cask "font-symbols-only-nerd-font"
# cask "google-chrome"
# cask "iterm2"
cask "kdiff3"
# cask "kitematic"
# cask "kitty"
# cask "postman"
cask "rocket"
cask "visual-studio-code"
# cask "xquartz"

# Flutter Dependencies
# cask "android-ndk"
# cask "android-studio"
# cask "flutter"

# VSCode Extensions
vscode "alexkrechik.cucumberautocomplete"
vscode "Arjun.swagger-viewer"
vscode "Blodwynn.featurehighlight"
vscode "bmalehorn.vscode-fish"
vscode "bung87.vscode-gemfile"
vscode "christian-kohler.npm-intellisense"
vscode "christian-kohler.path-intellisense"
vscode "Dart-Code.dart-code"
vscode "Dart-Code.flutter"
vscode "dbaeumer.vscode-eslint"
vscode "dunstontc.viml"
vscode "eamodio.gitlens"
vscode "esbenp.prettier-vscode"
vscode "JakeBecker.elixir-ls"
vscode "KoichiSasada.vscode-rdbg"
vscode "mohsen1.prettify-json"
vscode "ms-azuretools.vscode-docker"
vscode "msjsdiag.vscode-react-native"
vscode "oderwat.indent-rainbow"
vscode "PKief.material-icon-theme"
vscode "redhat.vscode-yaml"
vscode "Shopify.ruby-extensions-pack"
vscode "Shopify.ruby-lsp"
vscode "sianglim.slim"
vscode "simonsiefke.svg-preview"
vscode "sorbet.sorbet-vscode-extension"
vscode "steoates.autoimport"
vscode "t-sauer.autolinting-for-javascript"
vscode "tamasfe.even-better-toml"
vscode "Tyriar.sort-lines"
vscode "vscodevim.vim"
vscode "Vue.volar"
vscode "Zignd.html-css-class-completion"
vscode "zhuangtongfa.material-theme"
