tap "homebrew/bundle"
tap "homebrew/services"
{{- if eq .chezmoi.os "darwin" }}
tap "sporkd/fonts", "https://gitlab.com/sporkd/homebrew-fonts.git"
tap "homebrew/cask-fonts"
{{ end }}

# Brews
#########################################
brew "ast-grep"
brew "awscli"
brew "codespell"
brew "coreutils"
brew "docker"
brew "fd"
brew "fish"
brew "fzf"
brew "gh"
brew "jq"
brew "kubectx"
brew "kubernetes-cli"
brew "lsd"
brew "markdownlint-cli"
brew "neovim"
brew "pcre"
brew "postgresql@15"
brew "ranger"
brew "redis"
brew "ripgrep"
brew "starship"
brew "stern"
brew "tree-sitter"
brew "wget"
brew "z"
brew "zlib"
brew "zoxide"
brew "zsh-autosuggestions"
brew "zsh-history-substring-search"
brew "zsh-syntax-highlighting"

{{- if eq .chezmoi.os "darwin" }}
brew "mas"

# Casks
#########################################
cask "google-chrome"
# cask "docker"
cask "figma"
# cask "iterm2"
# cask "kdiff3"
cask "postman"
cask "visual-studio-code"
cask "zed"

# Font Casks
cask "font-cascadia-code"
# cask "font-fira-code"
# cask "font-fira-mono-for-powerline"
# cask "font-lato"
# cask "font-menlo-for-powerline"
cask "font-meslo-lgs-nf"
cask "font-monaco-for-powerline"
# cask "font-roboto"
cask "font-hack-nerd-font"
cask "font-symbols-only-nerd-font"
{{ end }}

# VSCode Extensions
#########################################
vscode "alexkrechik.cucumberautocomplete"
vscode "arjun.swagger-viewer"
vscode "blodwynn.featurehighlight"
vscode "bmalehorn.vscode-fish"
vscode "bung87.vscode-gemfile"
vscode "christian-kohler.npm-intellisense"
vscode "christian-kohler.path-intellisense"
# vscode "dart-code.dart-code"
# vscode "dart-code.flutter"
vscode "dbaeumer.vscode-eslint"
vscode "dunstontc.viml"
vscode "eamodio.gitlens"
vscode "esbenp.prettier-vscode"
# vscode "github.copilot"
# vscode "github.copilot-chat"
vscode "jakebecker.elixir-ls"
vscode "karunamurti.haml"
vscode "koichisasada.vscode-rdbg"
vscode "mechatroner.rainbow-csv"
vscode "mohsen1.prettify-json"
vscode "ms-azuretools.vscode-docker"
vscode "msjsdiag.vscode-react-native"
vscode "oderwat.indent-rainbow"
vscode "pkief.material-icon-theme"
vscode "redhat.vscode-yaml"
vscode "shopify.ruby-extensions-pack"
vscode "shopify.ruby-lsp"
vscode "sianglim.slim"
vscode "simonsiefke.svg-preview"
vscode "sorbet.sorbet-vscode-extension"
vscode "steoates.autoimport"
vscode "t-sauer.autolinting-for-javascript"
vscode "tamasfe.even-better-toml"
vscode "tyriar.sort-lines"
vscode "vue.volar"
vscode "zhuangtongfa.material-theme"
vscode "zignd.html-css-class-completion"

{{- if eq .vscode.vim_mode "true" }}
vscode "vscodevim.vim"
{{ end }}

{{- if eq .chezmoi.os "darwin" }}
# Apple App Store
#########################################
{{ end }}
