{{- $homebrew_prefix := "" -}}

export SHELL="/bin/zsh"
export EDITOR="vim"
export VISUAL="zed --wait"
export GIT_EDITOR="nvim"

{{ if eq .chezmoi.os "darwin" }}

  # homebrew
  {{- if eq .chezmoi.arch "x86_64" -}}
  {{-   $homebrew_prefix = "/usr/local" -}}
  {{- else -}}
  {{-   $homebrew_prefix = "/opt/homebrew" -}}
  {{- end }}

  if [ -x "{{ $homebrew_prefix }}/bin/brew" ]; then
    eval "$({{ $homebrew_prefix }}/bin/brew shellenv)"
  fi

  # fish(y)
  source {{ $homebrew_prefix }}/share/zsh-autosuggestions/zsh-autosuggestions.zsh
  source {{ $homebrew_prefix }}/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
  source {{ $homebrew_prefix }}/share/zsh-history-substring-search/zsh-history-substring-search.zsh
  bindkey '^[[A' history-substring-search-up
  bindkey '^[[B' history-substring-search-down

  # navigation
  source {{ $homebrew_prefix }}/etc/profile.d/z.sh

{{ else if eq .chezmoi.os "linux" }}

{{ end }}

# tea shell integration
# https://docs.tea.xyz/shell-integration
if command -v tea &> /dev/null; then
  source <(tea --shellcode)
fi

# java
export JAVA_HOME="$HOME/.local"

# android
if [ -x "{{ $homebrew_prefix }}/share/android-ndk" ]; then
  export ANDROID_NDK_HOME="{{ $homebrew_prefix }}/share/android-ndk"
fi
if [ -d "$HOME/Library/Android/sdk/cmdline-tools/latest/bin" ]; then
  export PATH="$HOME/Library/Android/sdk/cmdline-tools/latest/bin:$PATH"
fi

# ruby
export GEM_HOME="$HOME/.gem"
export PATH="$HOME/.gem/bin:$PATH"

# node
export NPM_CONFIG_PREFIX="$HOME/.node_modules"
export PATH="$HOME/.node_modules/bin:$PATH"

export PATH="/usr/local/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/bin:$PATH"

# fzf
source $HOME/.config/fzf/key-bindings.zsh
export FZF_DEFAULT_COMMAND='rg --files --hidden --follow --glob "!doc/*"'

# ripgrep
export RIPGREP_CONFIG_PATH="$HOME/.config/ripgrep/ripgreprc"

eval "$(zoxide init zsh)"
eval "$(starship init zsh)"

# use nvim for man
export MANPAGER="nvim +Man!"

# neovim
alias vi=nvim
alias vim=nvim
alias tree='et'

# ls
alias la="lsd -la"
alias ll="lsd -1"
alias ls="lsd -1"

# ranger
alias ranger="VISUAL=$EDITOR ranger"

# general
alias files='tea xplr'
alias icat='kitty +kitten icat'
alias recent='tea exa --header -la --sort oldest | head -n 25'
alias uuid="uuidgen | tr -d '\\n' | tr '[:upper:]' '[:lower:]' | pbcopy; pbpaste; echo"
alias weather='curl wttr.in'

# password
alias passgen='dd if=/dev/urandom bs=1 count=32 2>/dev/null | base64 | rev | cut -b 2- | rev'
