{{ template "load_zfunctions.zsh" }}

typeset -U path PATH

export SHELL="/bin/zsh"
export EDITOR="{{ .editor }}"
export VISUAL="{{ .visual }} --wait"
export GIT_EDITOR="{{ .editor }}"
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

SHELL_SESSIONS_DISABLE=1
HISTFILE="$HOME/.zsh_history_extended"
HISTSIZE=50000
SAVEHIST=20000

setopt APPEND_HISTORY
setopt SHARE_HISTORY
# setopt EXTENDED_HISTORY # Not needed with SHARE_HISTORY
# setopt INC_APPEND_HISTORY # Not needed with SHARE_HISTORY
setopt HIST_IGNORE_DUPS
# setopt HIST_IGNORE_ALL_DUPS
setopt HIST_IGNORE_SPACE
setopt HIST_REDUCE_BLANKS
setopt HIST_VERIFY

setopt NO_LIST_BEEP
setopt CORRECT
setopt IGNORE_EOF
# setopt COMPLETE_IN_WORD

{{ if eq .chezmoi.os "darwin" }}
  # xcode
  export SDKROOT="$(xcrun --show-sdk-path)"
{{ end }}

# User paths
# path=(
#   "$HOME/bin"
#   "$HOME/.local/bin"
#   "/usr/local/bin"
#   $path
# )

path[1,0]="/usr/local/bin"

# TODO: use mise postgres instead
# if [ -d "{{ .homebrew_prefix }}/opt/postgresql@15/bin" ]; then
#   path[1,0]="{{ .homebrew_prefix }}/opt/postgresql@15/bin"
# fi

path[1,0]="$HOME/.local/bin"
path[1,0]="$HOME/bin"

# homebrew
if (( $+commands[brew] )); then
  eval "$({{ .homebrew_prefix }}/bin/brew shellenv)"
fi

# Activate Mise (must be at the top)
# if command -v mise > /dev/null; then
if (( $+commands[mise] )); then
  eval "$(mise activate zsh)"
fi

# ruby
# export GEM_HOME="$(ruby -r rubygems -e 'puts Gem.user_dir')"
# [[ -n "$GEM_HOME" ]] && path[1,0]="$GEM_HOME/bin"

# Initialize Zoxide (Replaces 'z')
# if command -v zoxide > /dev/null; then
if (( $+commands[zoxide] )); then
  eval "$(zoxide init zsh)"
fi

# Initialize Starship
if [ -f "$HOME/.config/hooks/starship.toml" ]; then
  # hook to override default ~/.config/starship.toml
  export STARSHIP_CONFIG="$HOME/.config/hooks/starship.toml"
fi
if command -v starship > /dev/null; then
  export STARSHIP_LOG="error" # silence timeout warnings
  eval "$(starship init zsh)"
fi

# Load Mise-Managed Zsh Plugins (Hardcoded paths for speed)
local MISE_INSTALLS="${HOME}/.local/share/mise/installs"

# Fishy autosuggestions in zsh
source "{{ .homebrew_prefix }}/share/zsh-autosuggestions/zsh-autosuggestions.zsh"
source "{{ .homebrew_prefix }}/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
source "{{ .homebrew_prefix }}/share/zsh-history-substring-search/zsh-history-substring-search.zsh"
bindkey '^[[A' history-substring-search-up
bindkey '^[[B' history-substring-search-down

# Exports
export FZF_DEFAULT_COMMAND='rg --files --hidden --follow --glob "!doc/*"'
export RIPGREP_CONFIG_PATH="$HOME/.config/ripgrep/config"
export MANPAGER="nvim +Man!"
{{ if eq .editor "nvim" }}
export MANPAGER="nvim +Man!"  # use nvim for man
{{ end }}

# Aliases
# vim
alias vi=nvim
alias vim=nvim
alias tree='et'

# lsd
alias ls="lsd -1"
alias ll="lsd -1"
alias la="lsd -la"
alias lh="lsd -1ad .*"  # list only hidden files

# other
alias diff="diff --color=always --suppress-common-lines"
alias ranger="VISUAL=$EDITOR ranger"
alias icat='kitty +kitten icat'
alias uuid="uuidgen | tr -d '\\n' | tr '[:upper:]' '[:lower:]' | pbcopy; pbpaste; echo"
alias weather='curl wttr.in'
alias passgen='dd if=/dev/urandom bs=1 count=32 2>/dev/null | base64 | rev | cut -b 2- | rev'

if [[ -o login ]]; then
  source "$HOME/.config/zsh/login_checks"
fi
