#! /usr/bin/env zsh

## Gemfile: {{ include "Gemfile.tmpl" | sha256sum }}
## Brewfile: {{ include "Brewfile.tmpl" | sha256sum }}
{{- $homebrew_prefix := "" -}}

{{ if eq .chezmoi.os "linux" }}

{{ else if eq .chezmoi.os "darwin" }}

  # Homebrew packages
  {{- if eq .chezmoi.arch "x86_64" -}}
  {{-   $homebrew_prefix = "/usr/local" -}}
  {{- else -}}
  {{-   $homebrew_prefix = "/opt/homebrew" -}}
  {{- end }}
  if ! command -v brew &> /dev/null; then
    eval "$({{ $homebrew_prefix }}/bin/brew shellenv)"
  fi
  brew bundle --file="$HOME/Brewfile"

  # Tea packages
  if command -v tea &> /dev/null; then
    source <(tea --shellcode)
    [ ! -x "$HOME/.local/bin/fzf" ] && tea install fzf
    [ ! -x "$HOME/.local/bin/ruby" ] && tea install ruby-lang.org@latest
    [ ! -x "$HOME/.local/bin/gem" ] && tea install rubygems.org@latest
  fi

  # Gems
  if [ -x "$HOME/.local/bin/bundle" ]; then
    $HOME/.local/bin/bundle install --gemfile="$HOME/Gemfile"
  fi

{{ end }}
