#! /usr/bin/env zsh

{{ if eq .chezmoi.os "linux" }}

  # Starship
  apk add --no-cache starship

  # Zoxide
  curl -sS https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | bash

{{ else if eq .chezmoi.os "darwin" }}

  # Homebrew
  ## Brewfile: {{ include "Brewfile.tmpl" | sha256sum }}

  {{ $homebrew_prefix := "/opt/homebrew" -}}
  {{- if eq .chezmoi.arch "x86_64" -}}
  {{-   $homebrew_prefix = "/usr/local" -}}
  {{- end -}}

  if [ ! -x "{{ $homebrew_prefix }}/bin/brew" ]; then
    echo "Installing homebrew..."
    # /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  else
    echo "Found homebrew"
  fi

  # Tea
  if [ ! -x "$HOME/.tea/tea.xyz/v*/bin/tea" ]; then
    echo "Installing tea..."
    sh <(curl https://tea.xyz) # --yes
  else
    echo "Found tea"
  fi

{{ end }}
