# Functions
fpath=($ZDOTDIR/functions $fpath)
autoload -Uz $ZDOTDIR/functions/*(.:t)

# Core exports
export SHELL="/bin/zsh"
export EDITOR="nvim"
export VISUAL="code --wait"
export GIT_EDITOR="{{ .editor }}"
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

# Tool exports
export FZF_DEFAULT_COMMAND='rg --files --hidden --follow --glob "!doc/*"'
export RIPGREP_CONFIG_PATH="$XDG_CONFIG_HOME/ripgrep/config"
{{ if eq .editor "nvim" }}
export MANPAGER="nvim +Man!"  # use nvim for man
{{ end }}
{{ if eq .chezmoi.os "darwin" }}
export SDKROOT="$(xcrun --show-sdk-path)"
{{ end }}

SHELL_SESSIONS_DISABLE=1

# History
HISTFILE="$XDG_STATE_HOME/zsh/history"
HISTSIZE=100000
SAVEHIST=100000
setopt SHARE_HISTORY
setopt EXTENDED_HISTORY
# setopt INC_APPEND_HISTORY   # Not needed with SHARE_HISTORY
# setopt HIST_IGNORE_ALL_DUPS
setopt HIST_IGNORE_DUPS      # don't store consecutive duplicates in memory
setopt HIST_SAVE_NO_DUPS     # deduplicate when writing to disk
setopt HIST_IGNORE_SPACE
setopt HIST_REDUCE_BLANKS
setopt HIST_VERIFY

# Options
setopt NO_LIST_BEEP
setopt CORRECT
setopt IGNORE_EOF
setopt COMPLETE_IN_WORD

# Zstyles
[[ ! -f $ZDOTDIR/.zstyles ]] || source $ZDOTDIR/.zstyles

# Homebrew (may extend fpath, so before plugin manager)
if (( $+commands[brew] )); then
  eval "$({{ .homebrew_prefix }}/bin/brew shellenv)"
fi

# Plugins (Antidote)
if [[ -f $HOME/.antidote/antidote.zsh ]]; then
  source $HOME/.antidote/antidote.zsh
  antidote load
fi

# Mise
if (( $+commands[mise] )); then
  eval "$(mise activate zsh)"
fi

# conf.d
for _rc in $ZDOTDIR/conf.d/*.zsh(N); do
  [[ $_rc:t != '~'* ]] && source "$_rc"
done
unset _rc

# Remove empty path entries
path=(${path:#})
