# Functions
fpath=(
  $ZDOTDIR/functions
  $XDG_DATA_HOME/zsh/site-functions
  $fpath
)
autoload -Uz $ZDOTDIR/functions/*(.:t)
autoload -Uz $XDG_DATA_HOME/zsh/site-functions/*(.:t)

# Set Zsh options related to globbing.
setopt extended_glob         # Use more awesome globbing features.
setopt NO_rm_star_silent     # Ask for confirmation for `rm *' or `rm path/*'

# Set general Zsh options.
setopt combining_chars       # Combine 0-len chars with the base character (eg: accents).
setopt interactive_comments  # Enable comments in interactive shell.
setopt rc_quotes             # Allow 'Hitchhikers''s Guide' instead of 'Hitchhikers'\''s Guide'.
setopt NO_mail_warning       # Don't print a warning message if a mail file has been accessed.
setopt NO_beep               # Don't beep on error in line editor.

# Set Zsh options related to job control.
setopt auto_resume           # Attempt to resume existing job before creating a new process.
setopt long_list_jobs        # List jobs in the long format by default.
setopt notify                # Report status of background jobs immediately.
setopt NO_bg_nice            # Don't run all background jobs at a lower priority.
setopt NO_check_jobs         # Don't report on jobs when shell exit.
setopt NO_hup                # Don't kill jobs on shell exit.

# More Options
setopt correct
setopt ignore_eof
setopt complete_in_word

# History
# HISTFILE="$XDG_DATA_HOME/zsh/zsh_history"
# SAVEHIST=100000
# HISTSIZE=20000
setopt NO_hist_ignore_all_dups    # Delete an old recorded event if a new event is a duplicate.
setopt hist_save_NO_DUPS          # deduplicate when writing to disk

# bindkey -e  # diable command line vi mode

# Less options.
# Add -X to disable mouse-wheel scrolling
if [[ -z "$LESS" ]]; then
  export LESS='-g -i -M -R -S -w -z-4'
fi

# Set Less input preprocessor
# Try both `lesspipe` and `lesspipe.sh` as either might exist on a system.
if [[ -z "$LESSOPEN" ]] && (( $#commands[(i)lesspipe(|.sh)] )); then
  export LESSOPEN="| /usr/bin/env $commands[(i)lesspipe(|.sh)] %s 2>&-"
fi

export PAGER="less -RiFX"

# Tool exports
export FZF_DEFAULT_COMMAND='rg --files --hidden --follow --glob "!doc/*"'
export RIPGREP_CONFIG_PATH="$XDG_CONFIG_HOME/ripgrep/config"

# Zstyles
[[ ! -f $ZDOTDIR/zstyles ]] || source $ZDOTDIR/zstyles

# Homebrew (may extend fpath, so before plugin manager)
if (( $+commands[brew] )); then
  eval "$({{ .homebrew_prefix }}/bin/brew shellenv)"
fi

# Plugins (Antidote)
if [[ -f $HOME/.antidote/antidote.zsh ]]; then
  source $HOME/.antidote/antidote.zsh
  antidote load # ${ZDOTDIR:-$HOME}/.zsh_plugins.txt
fi

# Mise
if (( $+commands[mise] )); then
  eval "$(mise activate zsh)"
fi

# conf.d
for _rc in $ZDOTDIR/conf.d/*.zsh(N); do
  [[ $_rc:t != '~'* ]] && source "$_rc"
done
unset _rc

# Remove empty path entries
path=(${path:#})
