Host *
  AddKeysToAgent yes
  UseKeychain yes
  # SetEnv TERM=xterm

Host github.com
  hostname github.com
  IdentitiesOnly yes
  IdentityFile ~/.ssh/{{ .github_user }}_ed25519
  User {{ .github_user }}

Host sporkd.github
  hostname github.com
  IdentitiesOnly yes
  IdentityFile ~/.ssh/sporkd_ed25519
  User sporkd
