# Don't let ripgrep vomit long lines to my terminal, and show a preview
--max-columns=150
--max-columns-preview

--ignore-file
{{ .chezmoi.homeDir }}/.config/ripgrep/ignore

# Search hidden files and directories
--hidden

# Set colors
--colors=line:none
--colors=line:style:bold

--smart-case

--hyperlink-format=kitty
