# XDG Base Directory Specification
set -q XDG_CONFIG_HOME || set -gx XDG_CONFIG_HOME $HOME/.config
set -q XDG_CACHE_HOME  || set -gx XDG_CACHE_HOME  $HOME/.cache
set -q XDG_DATA_HOME   || set -gx XDG_DATA_HOME   $HOME/.local/share
set -q XDG_STATE_HOME  || set -gx XDG_STATE_HOME  $HOME/.local/state
# for xdgdir in (path filter -vd $XDG_DATA_HOME $XDG_STATE_HOME $XDG_CACHE_HOME)
#     mkdir -p $xdgdir
# end

# Editors
set -gx EDITOR   "{{ .editor }}"
set -gx VISUAL   "{{ .visual }} --wait"
set -gx GIT_EDITOR "{{ .editor }}"

# Pager & Less
if not set -q LESS
    # Add -X to disable mouse-wheel scrolling
    set -gx LESS '-g -i -M -R -S -w -z-4'
end

# lesspipe / lesspipe.sh input preprocessor
if not set -q LESSOPEN
    if command -q lesspipe
        set -gx LESSOPEN "| /usr/bin/env lesspipe %s 2>&-"
    else if command -q lesspipe.sh
        set -gx LESSOPEN "| /usr/bin/env lesspipe.sh %s 2>&-"
    end
end

# -R: colored output, -i: case-insensitive search, -F: quit if one screen, -X: don't clear screen
set -gx PAGER "less -RiFX"

# Language and GPG
set -gx LANG en_US.UTF-8
set -gx GPG_TTY (tty)

{{ if eq .editor "nvim" }}
if command -q nvim
  set -gx MANPAGER "nvim +Man!"
else
  set -gx MANPAGER "vim -M +MANPAGER -"
end
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
set -gx SHELL_SESSIONS_DISABLE 1
set -gx SDKROOT (xcrun --show-sdk-path)
set -q BROWSER || set -gx BROWSER open
{{ end }}

  # Colorize man pages.
set -q LESS_TERMCAP_mb || set -gx LESS_TERMCAP_mb (set_color -o blue)
set -q LESS_TERMCAP_md || set -gx LESS_TERMCAP_md (set_color -o cyan)
set -q LESS_TERMCAP_me || set -gx LESS_TERMCAP_me (set_color normal)
set -q LESS_TERMCAP_so || set -gx LESS_TERMCAP_so (set_color -b white black)
set -q LESS_TERMCAP_se || set -gx LESS_TERMCAP_se (set_color normal)
set -q LESS_TERMCAP_us || set -gx LESS_TERMCAP_us (set_color -u magenta)
set -q LESS_TERMCAP_ue || set -gx LESS_TERMCAP_ue (set_color normal)

# LS_COLORS / EZA_COLORS — basic 8-color ANSI
# di=blue ln=magenta ex=red so=green pi=yellow bd=bold-cyan cd=bold-yellow
set -q LS_COLORS || set -gx LS_COLORS \
    "di=34:ln=35:so=32:pi=33:ex=31:bd=1;36:cd=1;33:su=30;41:sg=30;46:tw=30;42:ow=30;43"
# EZA_COLORS extends LS_COLORS with eza-specific keys (permissions, sizes, user/group)
set -q EZA_COLORS || set -gx EZA_COLORS \
    "$LS_COLORS:or=1;31:fi=0:da=2:sn=33:sb=2:uu=33:un=2:gu=35:gn=2:lp=35:\
ur=33:uw=31:ux=32:ue=32:gr=2;33:gw=2;31:gx=2;32:tr=2:tx=2:xa=2"

# Tools
set -gx RIPGREP_CONFIG_PATH $XDG_CONFIG_HOME/ripgrep/config

# Custom
set -q FISH_THEME || set -gx FISH_THEME ayu-mirage
set -gx MY_CODE $HOME/code
set -gx MY_PROJECTS $HOME/projects
