# prepend asdf to path if .tool_versions
function _asdf_chpwd() {
  emulate -L zsh

  if [ -f ".tool-versions" -a "$PWD" != "$HOME" ]; then
    export ASDF_GEM_DEFAULT_PACKAGES_FILE="$PWD/.default-gems"
    if [ -n "$ASDF_DIR" ]; then

      _printers
      {{ template "asdf_install.zsh" dict "dir" "$PWD" }}

      # Re-source asdf to put at front of PATH
      source $ASDF_DIR/asdf.sh
    fi
  else
    unset ASDF_GEM_DEFAULT_PACKAGES_FILE
  fi
}
chpwd_functions=(${chpwd_functions[@]} "_asdf_chpwd")
