#!/usr/bin/env zsh

{{ template "colors.sh" }}

function _print_bot() {
  echo -e "${GREEN}(◕‿◕)${NOCOLOR} $1"
}

function _print_info() {
  echo -e "${BLUE}[info]${NOCOLOR} $1"
}

function _print_debug() {
  echo -e "${MAGENTA}[debug]${NOCOLOR} $1"
}

function _print_checking() {
  echo -e "${WHITE}[checking]${NOCOLOR} $1"
}

function _print_installing() {
  echo -e "${BLUE}[installing]${NOCOLOR} $1..."
}

function _print_updating() {
  echo -e "${BLUE}[updating]${NOCOLOR} $1..."
}

function _print_running() {
  echo -e "${BLUE}[running]${NOCOLOR} $1"
}

function _print_note() {
  echo -e "${WHITE}[note]${NOCOLOR} $1"
}

function _print_notice() {
  echo -e "${MAGENTA}!!!NOTICE!!!${NOCOLOR} $1"
}

function _print_exists() {
  echo -e "${GREEN}[exists]${NOCOLOR} $1"
}

function _print_cmd() {
  echo -e "${WHITE}[cmd]${NOCOLOR} ${BLUE}$1${NOCOLOR}"
}

function _print_option() {
  echo -e "  ${YELLOW}[${NOCOLOR}$1${YELLOW}]${NOCOLOR} $2"
}

function _print_item() {
  echo -e "  ${YELLOW}[*]${NOCOLOR} $1"
}

function _print_ask() {
  local default="$2"
  if [ -n "$default" ]; then
    echo -e "${BLUE}[?]${NOCOLOR} $1 [$default] "
  else
    echo -e "${BLUE}[?]${NOCOLOR} $1 "
  fi
}

function _print_dryrun() {
  echo -en "${WHITE}[dry-run]${NOCOLOR}"
}

function _print_ok() {
  echo -e "${GREEN}[ok]${NOCOLOR} $1"
  echo
}

function _print_warning() {
  echo -e "${YELLOW}[warning]${NOCOLOR} $1"
  echo
}

function _print_error() {
  echo -e "${RED}[error]${NOCOLOR} $1"
  echo
}

function _print_backup() {
  echo -e "${GREEN}[backup]${NOCOLOR} $1 ${WHITE}=>${NOCOLOR} $1.backup"
}

function _print_symlinking() {
  echo -e "${BLUE}[symlink]${NOCOLOR} $1 ${WHITE}=>${NOCOLOR} $2"
}

function _print_adding() {
  echo -e "${GREEN}[adding]${NOCOLOR} $1"
}

function _print_removing() {
  echo -e "${RED}[removing]${NOCOLOR} $1"
}

function _print_skipping() {
  if [ -n "$1" ]; then
    echo -e "${YELLOW}[skipping]${COLOR} $1"
  else
    echo -en "${YELLOW}[skipping]${COLOR}"
  fi
  echo
}

function _print_lib() {
  echo -e "${MAGENTA}[$1]${NOCOLOR} $2"
}

function _print_running_script() {
  echo
  echo -e "${YELLOW}[running script]${NOCOLOR} $1"
  echo
}

function _printers() {}
_printers "$@"
