{
    "$schema": "https://raw.githubusercontent.com/sumneko/vscode-lua/master/setting/schema.json",
    "Lua.diagnostics.globals": [
        "vim",
        "lfs"
    ],
    "Lua.workspace.checkThirdParty": false,
    "Lua.workspace.library": [
        "{{ .chezmoi.homeDir }}/.config/nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/cmp-nvim-lsp",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/dressing.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/fidget.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/LuaSnip",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/plenary.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/popup.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/telescope-fzf-native.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/telescope.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/vim-dirvish",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/nvim-treesitter-endwise",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/lspsaga.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/nvim-lsputils",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/popfix",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/null-ls.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/nvim-lsp-installer",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/cmp_luasnip",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/cmp-spell",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/cmp-rg",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/cmp-cmdline",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/cmp-path",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/cmp-nvim-lua",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/cmp-nvim-lsp-signature-help",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/vim-dadbod-ui",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/vim-dadbod-completion",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/cmp-emoji",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/cmp-calc",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/cmp-buffer",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/nvim-cmp",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/lspkind-nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/nvim-lspconfig",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/Comment.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/nvim-treesitter",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/nvim-surround",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/nvim-web-devicons",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/lualine.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/catppuccin",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/packer.nvim",
        "/usr/local/Cellar/neovim/HEAD-95c65a6/share/nvim/runtime",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/cmp-nvim-lsp/after",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/cmp_luasnip/after",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/cmp-spell/after",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/cmp-rg/after",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/cmp-cmdline/after",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/cmp-path/after",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/cmp-nvim-lua/after",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/cmp-nvim-lsp-signature-help/after",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/vim-dadbod-completion/after",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/cmp-emoji/after",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/cmp-calc/after",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/cmp-buffer/after",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/opt/Comment.nvim/after",
        "{{ .chezmoi.homeDir }}/.config/nvim/after",
        "${3rd}/lfs/library"
    ]
}
